name: bravoball_flutter
description: "BravoBall Football Training App"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 2.0.4+37

environment:
  sdk: ^3.8.1

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  rive: ^0.13.20
  video_player: ^2.8.1
  audioplayers: ^5.0.3  # Downgrade to stable version that works well with iOS
  url_launcher: ^6.2.5
  flutter_dotenv: ^5.1.0
  shared_preferences: ^2.2.3
  http: ^1.1.2
  wakelock_plus: ^1.2.7  # Keep screen on during workouts
  flutter_local_notifications: ^17.2.2  # Local notifications for timer alerts
  timezone: ^0.9.4  # Required for scheduled notifications
  uuid: ^4.3.3  # For generating unique identifiers
  image_picker: ^1.1.2  # For picking videos from camera roll
  path_provider: ^2.1.4  # For accessing device storage directories
  permission_handler: ^11.3.1  # For handling runtime permissions on Android
  google_mobile_ads: ^4.0.0  # For interstitial ads
  crypto: ^3.0.3  # For security hashing
  package_info_plus: ^9.0.0  # For app package information
  device_info_plus: ^9.1.1  # For device information and security
  in_app_purchase: ^3.2.2
  in_app_purchase_android: ^0.4.0+3
  in_app_purchase_platform_interface: ^1.4.0
  in_app_purchase_storekit: ^0.3.22+1
  encrypt: ^5.0.3
  purchases_flutter: ^9.6.2  # RevenueCat SDK for testing (latest stable)
  in_app_review: ^2.0.9  # For requesting app store ratings
  connectivity_plus: ^6.0.5  # For monitoring network connectivity
  sqflite: ^2.3.0  # SQLite database for offline storage
  path: ^1.8.3  # Path utilities for database file location

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  
  # Testing dependencies
  mockito: ^5.4.4
  build_runner: ^2.4.8
  sqflite_common_ffi: ^2.3.0  # SQLite for unit testing (in-memory database)

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - .env
    - assets/rive/Bravo_Animation.riv
    - assets/rive/BravoBall_Intro.riv
    - assets/rive/Backpack.riv
    - assets/rive/Grass_Field.riv
    - assets/rive/Tab_House.riv
    - assets/rive/Tab_Calendar.riv
    - assets/rive/Tab_Saved.riv
    - assets/rive/Tab_Dude.riv
    - assets/fonts/
    - assets/drill-icons/
    - assets/avatar-icons/
    - assets/audio/321-start.mp3
    - assets/audio/321-done.mp3
    - assets/audio/success.mp3
    - assets/audio/silent-timer.mp3

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
    - family: PottaOne
      fonts:
        - asset: assets/fonts/PottaOne-Regular.ttf
